<div id="contact" class="contact-section">
  <div class="contact-content">
    <h2>Have any project in mind?</h2>
    <p>Feel free to contact me or just say friendly hello!</p>
  </div>
  <button (click)="showDialog()" class="contact-button">Contact Me</button>
  <!-- <a (click)="showDialog()" class="contact-button">Contact Me</a> -->
</div>

<p-dialog header="Contact Me" [(visible)]="display" [modal]="true" [draggable]="false"
  [resizable]="true" [contentStyle]="{'overflow':'hidden'}" class="custom-dialog-header">
  <div class="modal-body">
    <div>
    </div>
    <div>
      <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm.value)" class="p-fluid">
        <div class="p-formgroup-inline">
          <div class="field">
            <label for="name" class="block">Nama</label>
            <input id="name" type="username" aria-describedby="name-help" pInputText ngModel [ngModelOptions]="{standalone: true}" />
            <small id="name-help" class="block">Enter your name or alias.</small>
          </div>
          <br>
          <div class="field">
            <textarea id="message" rows="7" cols="29" name="message" ngModel [ngModelOptions]="{standalone: true}" required pInputTextarea></textarea>
          </div>
          <br>
          <button style="background-color: #52d69a;" type="submit" pButton label="Kirim" icon="pi pi-check"></button>
        </div>
      </form>
    </div>
  </div>
</p-dialog>