<footer class="footer">
    <div class="footer-top">
      <div class="footer-brand">
        <h2>Prima Jatnika<span class="brand-dot">.</span></h2>
      </div>
      <div class="footer-info">
        <h3>Information</h3>
        <p>+65 85875074351</p>
        <p>primajatnika271995&#64;gmail.com</p>
        <p>Bandung, Jawa Barat</p>
      </div>
      <div class="footer-social-media">
        <h3>Social Media</h3>
        <p><a href="https://www.linkedin.com/in/primajatnika/" class="social-link">LinkedIn</a></p>
        <p><a href="https://www.instagram.com/primajatnika/" class="social-link">Instagram</a></p>
        <p><a href="https://github.com/primajatnika27" class="social-link">Github</a></p>
      </div>
    </div>
    <div class="footer-line"></div>
    <div class="footer-bottom">
      <p>Develop portofolio web by <span class="brand-dot">Prima Jatnika</span></p>
      <p>Copyright ©2024</p>
    </div>
  </footer>