<div id="work" class="recent-works">
    <div class="recent-works-header">
        <div class="recent-works-title">
            <span class="title-line"></span>
            <h2>Recent Work</h2>
        </div>
    </div>
    <div class="favorites-header">
        <h3>Some of my favorite projects.</h3>
        <a (click)="showError()" class="view-all-projects">View All Project</a>
      </div>
    <div class="projects-grid">
        <!-- Project items -->
        <!-- Contoh untuk satu project item, ulangi untuk yang lainnya -->
        <div class="project-item">
            <img src="assets/alana.png" alt="Alana - live data app">
            <h4>BNI Agen46 - Flutter</h4>
            <a (click)="showError()" class="see-project-link">See project →</a>
        </div>
        <!-- ... -->
        <div class="project-item">
            <img src="assets/alana.png" alt="Alana - live data app">
            <h4>Hasjrat - Flutter</h4>
            <a (click)="showError()" class="see-project-link">See project →</a>
        </div>
        <!-- ... -->
        <div class="project-item">
            <img src="assets/alana.png" alt="Alana - live data app">
            <h4>KOPBI - Flutter</h4>
            <a (click)="showError()" class="see-project-link">See project →</a>
        </div>
    </div>
</div>

<p-toast></p-toast>