.recent-works {
  color: #fff;
  background-color: #111;
  /* Warna latar belakang yang lebih gelap */
  padding: 50px;
  margin-top: 60px;
  font-family: 'Roboto', sans-serif;
  padding-left: 120px;
  padding-right: 120px;
}

.recent-works-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.recent-works-title {
  display: flex;
  align-items: center;
}

.favorites-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.favorites-header h3 {
  font-size: 40px;
  /* Sesuaikan ukuran font */
  color: #fff;
  margin: 0;
}

.title-line {
  display: block;
  width: 50px;
  height: 4px;
  background-color: #64ffda;
  margin-right: 15px;
}

.recent-works-header h2 {
  font-size: 15px;
  /* Sesuaikan ukuran font */
  color: #fff;
  margin: 0;
}

.view-all-projects {
  text-decoration: none;
  color: #64ffda;
  /* Warna teks */
  font-size: 16px;
  /* Ukuran font */
  padding: 10px 20px;
  /* Padding untuk membuat tombol lebih besar */
  border: 1px solid #64ffda;
  /* Border dengan warna yang sama dengan teks */
  transition: all 0.3s ease;
  /* Transisi halus untuk efek hover */
}

.view-all-projects:hover {
  background-color: #64ffda;
  /* Warna latar belakang saat di-hover */
  color: #000;
  /* Warna teks saat di-hover */
  text-decoration: none;
  /* Menghilangkan underline saat di-hover */
}

h3 {
  font-size: 36px;
  /* Font size for the main title */
  margin-bottom: 50px;
  /* Menghilangkan margin bawah */
  max-width: 400px;
  text-align: left;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.project-item {
  position: relative;
  overflow: hidden;
  /* Pastikan tidak ada yang meluap */
}

.project-item img {
  width: 100%;
  transition: transform 0.3s ease;
  /* Transisi untuk efek zoom */
}

.project-item h4 {
  font-size: 20px;
  /* Sesuaikan ukuran font */
  margin-top: 15px;
}

.see-project-link {
  text-decoration: none;
  color: #64ffda;
  font-size: 16px;
  /* Sesuaikan ukuran font */
  transition: color 0.3s ease;
  /* Transisi untuk efek hover */
}

.works-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Untuk desktop */
  gap: 20px;
  /* Gaya lainnya */
}

.project-item:hover img {
  transform: scale(1.05);
  /* Efek zoom saat di-hover */
}

.project-item:hover .see-project-link {
  color: #fff;
  /* Ubah warna saat di-hover */
}

/* Responsifitas */
@media (max-width: 768px) {
  .recent-works-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .view-all-projects {
    margin-top: 20px;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .favorites-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .favorites-header .view-all-projects {
    font-size: 12px;
    margin-top: 20px;
    align-self: center;
    /* Menyelaraskan tombol ke tengah pada layar yang lebih kecil */
  }

  .works-container {
    grid-template-columns: 1fr;
    /* Ubah ke 1 kolom untuk layar ponsel */
    gap: 15px;
    /* Sesuaikan jarak antar item */
  }

  .work-item img {
    width: 100%;
    /* Pastikan gambar memenuhi kontainer */
    height: auto;
    /* Pertahankan aspek rasio gambar */
  }

  .work-item-title,
  .work-item-description {
    font-size: 16px;
    /* Sesuaikan ukuran font untuk layar ponsel */
    margin: 10px 0;
    /* Sesuaikan margin */
  }
}