@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset CSS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    padding-top: 60px;
    /* Sesuaikan dengan tinggi navbar */
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.navbar-item:hover,
.navbar-item.active {
    color: #64ffda;
    /* Warna saat hover atau aktif */
    border-bottom: 2px solid #64ffda;
    /* Tambahkan border bawah saat hover atau aktif */
}

.navbar {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    /* Navbar akan tetap di atas */
    top: 0;
    /* Posisi navbar di bagian atas halaman */
    left: 0;
    /* Posisi navbar di bagian kiri halaman */
    z-index: 1000;
    /* Pastikan navbar selalu di atas elemen lain */
    width: 100%;
    /* Pastikan navbar mengisi lebar penuh */
    box-sizing: border-box;
    /* Pastikan padding */
    transition: color 0.3s ease-in-out;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* Padding di sini untuk memberi ruang di dalam navbar */
}

.navbar-brand {
    font-size: 24px;
    text-decoration: none;
    padding-left: 60px;
    color: #fff;
    /* Warna default untuk brand */
    font-weight: bold;
}

.brand-dot {
    color: #64ffda;
    /* Warna hijau terang hanya untuk titik */
}

.navbar-menu {
    display: flex;
    transition: transform 0.3s ease-in-out;
    align-items: center;
    /* Ini akan menyelaraskan item menu secara vertikal */
    list-style: none;
    margin-right: 60px;
}

.navbar-item {
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    /* Warna teks putih */
    font-size: 16px;
    /* Ukuran font untuk item menu */
    font-weight: normal;
    /* Font normal untuk item menu */
    transition: color 0.3s ease-in-out;
    /* Transisi warna saat hover */
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.navbar-item:hover {
    border-bottom: 2px solid #64ffda;
}

.navbar-contact {
    margin-left: 25px;
    border: 1px solid #64ffda;
    /* Border hijau terang */
    padding: 5px 15px;
    /* Padding untuk membuat border terlihat lebih rapi */
    border-radius: 1px;
    /* Memberikan border sudut yang bulat */
    transition: all 0.3s ease-in-out;
    /* Transisi untuk hover effect */
}

.navbar-contact:hover {
    background-color: #64ffda;
    /* Warna latar saat hover */
    color: #000;
    /* Warna teks saat hover */
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.navbar-toggle-icon {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: background-color 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .navbar {
        background-color: #000;
        padding: 10px;
        /* Kurangi padding untuk layar yang lebih kecil */
    }

    .navbar-container {
        flex-direction: column;
        /* Tumpuk elemen secara vertikal */
        align-items: flex-start;
        /* Rata kiri untuk elemen */
    }

    .navbar-brand {
        padding-left: 0;
        /* Hilangkan padding kiri */
        margin-bottom: 10px;
        /* Tambahkan margin bawah */
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        /* Susun item menu secara vertikal */
        width: 100%;
        /* Lebar penuh untuk menu */
    }

    .navbar-menu.show {
        display: block;
        /* Tampilkan menu ketika kelas .show ditambahkan */
        position: absolute;
        top: 60px;
        /* Atur posisi di bawah navbar */
        left: 0;
        right: 0;
        background-color: #333;
        /* Warna latar belakang menu */
        z-index: 999;
    }

    .navbar-item {
        display: block;
        /* Tampilkan item sebagai blok */
        width: 100%;
        /* Lebar penuh untuk item */
        padding: 10px 20px;
        /* Padding yang cukup untuk area klik */
        border-bottom: 1px solid #474747;
        /* Pemisah antar item */
        background-color: transparent;
        /* Latar belakang transparan */
        color: #fff;
        /* Warna teks yang kontras dengan latar belakang */
        text-align: left;
        /* Teks rata kiri */
    }

    .navbar-item:hover {
        color: #64ffda;
        /* Warna hijau terang saat hover */
        /* Gaya lainnya */
    }

    .navbar-item,
    .navbar-brand {
        color: #fff;
        /* Warna teks yang kontras dengan latar belakang */
        /* Gaya lainnya */
    }

    .navbar-item:hover,
    .navbar-brand:hover {
        color: #64ffda;
        /* Warna untuk hover yang kontras */
        /* Gaya lainnya */
    }

    .navbar-toggle {
        display: block;
        /* Tampilkan toggle button pada layar kecil */
        position: absolute;
        /* Posisikan toggle button */
        top: 10px;
        /* Atur posisi atas */
        right: 10px;
        /* Atur posisi kanan */
    }

    .navbar-item.contact {
        padding-left: 0;
    }
}