<!-- src/app/components/navbar/navbar.component.html -->
<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-brand">Prima<span class="brand-dot">.</span></a>
        <div class="navbar-toggle" (click)="toggleMenu()">
            <span class="navbar-toggle-icon"></span>
            <span class="navbar-toggle-icon"></span>
            <span class="navbar-toggle-icon"></span>
        </div>
        <div class="navbar-menu" [class.show]="showMenu">
            <a [class.active]="currentSection === 'home'" href="#home" class="navbar-item">Home</a>
            <a [class.active]="currentSection === 'services'" href="#services" class="navbar-item">Services</a>
            <a [class.active]="currentSection === 'work'" href="#work" class="navbar-item">Work</a>
            <a [class.active]="currentSection === 'testimonials'" href="#testimonials" class="navbar-item">Testimonial</a>
            <a [class.active]="currentSection === 'contact'" href="#contact" class="navbar-item navbar-contact">Contact</a>
        </div>
    </div>
</nav>