<div id="home" class="hero">
    <div class="hero-content">
        <h2>Hello, I'm <span class="highlight">{{ typedText }}</span></h2>
        <h1>Mobile Engineer</h1>
        <p>I have experience as Software Developer especially as Fullstack Engineer and Mobile Engineer (iOS and
            Android) for more than 3 years in Banking application, MSME application and etc.</p>
        <div class="hero-buttons">
            <a (click)="sendEmail()" class="btn btn-green">Email Me</a>
            <a (click)="downloadCV()" class="btn btn-outline" download>
                <i class="fas fa-download"></i> Download CV
            </a>
        </div>
    </div>
    <div class="hero-image">
        <img src="assets/profile_picture.jpeg" alt="Profile Image">
    </div>
</div>