<section id="services" class="services-section">
    <div class="services-header">
        <h2>4+ years experience working</h2>
        <div class="services-title-container">
            <div class="services-title">
                <span class="services-line"></span>
                <h3>Services</h3>
            </div>
            <p>Discover the best services I offer, designed to ensure the success of your project.</p>
        </div>
    </div>
    <div class="services-container">
        <!-- Service Item 1 -->
        <div class="service-item">
            <img src="assets/icon-fe.svg" alt="Mobile Developer" class="service-icon">
            <h4>Mobile Developer</h4>
            <div class="framework-container">
                <div class="framework" *ngFor="let framework of frameworks_mobile">
                    <img [src]="'assets/icons/' + framework.icon" [alt]="framework.name">
                    <div class="framework-name">{{framework.name}}</div>
                </div>
            </div>
        </div>
        <!-- Service Item 2 -->
        <div class="service-item">
            <img src="assets/icon-fe.svg" alt="Frontend Developer" class="service-icon">
            <h4>Frontend Developer</h4>
            <div class="framework-container">
                <div class="framework" *ngFor="let framework of frameworks_fe">
                    <img [src]="'assets/icons/' + framework.icon" [alt]="framework.name">
                    <div class="framework-name">{{framework.name}}</div>
                </div>
            </div>
        </div>
        <!-- Service Item 3 -->
        <div class="service-item">
            <img src="assets/icon-fe.svg" alt="Backend Developer" class="service-icon">
            <h4>Backend Developer</h4>
            <div class="framework-container">
                <div class="framework" *ngFor="let framework of frameworks_be">
                    <img [src]="'assets/icons/' + framework.icon" [alt]="framework.name">
                    <div class="framework-name">{{framework.name}}</div>
                </div>
            </div>
        </div>
    </div>
</section>